:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    margin: auto;
    margin-top: 100px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 800px;
    height: 800px;
  }
  
  .grid-item {
    border: 1px solid;
    text-align: center;
  }

#numbutton {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
  }

  #title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  